@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
  --gray-light: #f4f4f5;
  /* Zinc 100 for subtle backgrounds */
  --gray-medium: #71717a;
  /* Zinc 500 for secondary text */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray-light: var(--gray-light);
  --color-gray-medium: var(--gray-medium);

  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.4);
}